<!-- <p>not-found-error404 works!</p> -->

<div class="body">

    <div class="not-found parallax">
        <div class="sky-bg"></div>
        <div class="wave-7 layer" data-speed="-5"></div>
        <div class="wave-6 layer" data-speed="-2"></div>
        <a class="wave-island layer" data-speed="-4" routerLink="/coches">
                <img class="layer" data-speed="-9" src="http://res.cloudinary.com/andrewhani/image/upload/v1524501929/404/island.svg" alt="Island">
            </a>
        <div class="wave-5 layer" data-speed="-4"></div>
        <div class="wave-lost wrp layer" data-speed="-3">
            <span>4</span>
            <span>0</span>
            <span>4</span>
        </div>
        <div class="wave-4 layer" data-speed="-4"></div>
        <div class="wave-boat layer" data-speed="-6">
            <img class="boat layer" data-speed="-9" src="http://res.cloudinary.com/andrewhani/image/upload/v1524501894/404/boat.svg" alt="Boat">
        </div>
        <div class="wave-3 layer" data-speed="-2"></div>
        <div class="wave-2 layer" data-speed="-5"></div>
        <div class="wave-1 layer" data-speed="-7"></div>
        <div class="wave-message layer" data-speed="-1">
            <p>Your're lost</p>
            <p class="click-on-the-island">Click on the island to return</p>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener("mousemove", parallax);
        function parallax(e){
            this.querySelectorAll('.layer').forEach(layer => {
                const speed = layer.getAttribute('data-speed')

                const x = (window.innerWidth - e.pageX*speed)/100
                const y = (window.innerHeight - e.pageY*speed)/100

                layer.style.transform = `translateX(${x}px) translateY(${y}px)`
            });
        }
    </script>
    
</div>