<!-- <p>coches-imagenes works!</p> -->

<div class="container">
    <p>
        (Imagenes del coche con identificador: {{idCoche}})
    </p>

    <div class="carousel" *ngIf="coche != null || coche != undefined">
        <div class="slideshow">
            <div class="slide">
                <img class="img" src="{{coche.imagen1}}">
            </div>
    
            <div class="slide">
                <img class="img" src="{{coche.imagen2}}">
            </div>
    
            <div class="slide">
                <img class="img" src="{{coche.imagen3}}">
            </div>

            <div class="slide">
                <img class="img" src="{{coche.imagen4}}">
            </div>

            <div class="slide">
                <img class="img" src="{{coche.imagen5}}">
            </div>

            <div class="slide">
                <img class="img" src="{{coche.imagen6}}">
            </div>

            <div class="slide">
                <img class="img" src="{{coche.imagen7}}">
            </div>

            <div class="slide">
                <img class="img" src="{{coche.imagen8}}">
            </div>

            <div class="slide">
                <img class="img" src="{{coche.imagen9}}">
            </div>

            <div class="slide">
                <img class="img" src="{{coche.imagen10}}">
            </div>
        </div>
    </div>
    
</div>